@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body, html {
    overflow-x: hidden;
}
html.noYscroll, html.noYscroll body {
    overflow-y: hidden;
}
*:not(ul, ol, li) {
    margin: 0;
    padding: 0;
}
* {
    font-family: "Open Sans";
}
::selection {
    background-color: #000;
    color: #fff;
}
p:not(.noTab)::before {
    content: "";
    display: inline-block;
    width: 4ch;
}
p:not(.noSpacing) {
    line-height: 1.8;
}
a {
    color: #8080ff;
}
a:hover {
    color: #bfbfff;
}
a:active {
    color: #ff8080;
}
.top {
    padding: 5vh 0 0;
    background-color: #eee;
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    height: 10vh;
}
header h1 {
    font-weight: 400;
    display: inline;
    margin: 0 auto;
}
.top > svg {
    font-size: 2em;
    margin: 0 auto;
    cursor: pointer;
}
nav {
    box-sizing: border-box;
    padding: 5vh 0;
    position: fixed;
    left: -30vw;
    top: 0;
    width: 30vmin;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    background-color: #dfdfdf;
}
nav ul, nav ol, nav li {
    margin: 0;
    padding: 0;
}
nav.open {
    left: 0vw;
}
.navCloseContainer {
    display: flex;
    justify-content: center;
    width: 10vw;
    height: 10vh;
}
nav .navCloseContainer svg {
    font-size: 2em;
    cursor: pointer;
}
nav ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
nav ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30vmin;
    min-height: 10vh;
    font-size: 1.25em;
    background-color: #e9e9e9;
    cursor: pointer;
}
nav ul li:not(.opened):hover {
    background-color: #f2f2f2;
}
nav ul li:not(.opened):active {
    background-color: #eee;
}
nav ul li.opened {
    background-color: #cecece;
    cursor: auto;
}
main > section {
    position: fixed;
    transition: all 0.3s ease-in-out;
    left: 100vw;
    width: calc(100vw - 1pc);
}
main > section.openNav {
    width: calc(100vw - 30vmin - 1pc);
}
main > section.open {
    position: absolute;
    left: 0vw;
}
main > #timeline.open {
    position: fixed;
}
main > section.open.openNav {
    left: 30vmin;
}
#overview img {
    display: inline;
    width: 50vw;
    margin-right: 0.8em;
    max-width: 432px;
    transition: width 0.3s ease-in-out;
}
#overview.openNav img {
    width: calc(50vw - 15vmin);
}
img.left {
    float: left;
}
.containerLeaders {
    display: grid;
    grid-template-columns: 1fr;
}
#leaders h3 {
    background-color: #fff;
}
main h2, main h3 {
    font-weight: 400;
}
.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.table div {
    display: flex;
    align-items: center;
    height: 3em;
    flex-wrap: wrap;
}
.table .about {
    grid-column: 1 / 4;
    border-top: 1px solid #3333;
    height: 0;
    transition-property: font-size, height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    z-index: -100;
    font-size: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.table .about img {
    transition: all 0.3s ease-in-out;
    height: 0rem;
}
.table .about.open img {
    height: 12rem;
}
.table .about.open {
    height: calc(6em + 12rem);
    color: #000;
    z-index: initial;
    font-size: 1em;
}
.table div:has(> svg) {
    justify-content: center;
}
.table div:not(:has(> svg)) {
    box-sizing: border-box;
    padding-left: 1pc;
}
.table div:not(.tableHead, :nth-child(4n-1), :nth-child(4n-2)) {
    border-right: 1px solid #3333;
}
.table div:not(.tableHead):nth-child(4n), .table div:not(.tableHead):nth-child(4n-1) {
    cursor: pointer;
}
.table div.odd:not(.tableHead):nth-child(4n):hover, .table div.odd:not(.tableHead):nth-child(4n-1):hover {
    background-color: #d8d8d8;
}
.table div.odd:not(.tableHead):nth-child(4n):active, .table div.odd:not(.tableHead):nth-child(4n-1):active {
    background-color: #cdcdcd;
}
.table div.even:not(.tableHead):nth-child(4n):hover, .table div.even:not(.tableHead):nth-child(4n-1):hover {
    background-color: #c7c7c7;
}
.table div.even:not(.tableHead):nth-child(4n):active, .table div.even:not(.tableHead):nth-child(4n-1):active {
    background-color: #bcbcbc;
}
.table div:not(.tableHead):nth-child(4n), .table div:not(.tableHead):nth-child(4n-1) {
    cursor: pointer;
}
.table .tableHead {
    background-color: #aaa;
}
.tableHead {
    font-weight: 600;
}
.odd {
    background-color: #ddd;
}
.even {
    background-color: #ccc;
}
.list {
    display: flex;
    flex-direction: column;
    width: inherit;
}
.list * {
    display: flex;
    min-height: 7vh;
    align-items: center;
}
#troops p {
    font-size: 0.75em;
}
#comparison {
    grid-column-start: 1;
    grid-column-end: 2;
}
#charts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#timeline > div:not(#line) {
    height: 85vh;
    width: calc(100vw - 20ch - 20px);
}
#timeline.navOpen > div:not(#line) {
    height: 85vh;
    width: calc(100vw - 30vmin - 20ch - 20px);
}
#line {
    position: absolute;
    right: 0;
}
#timeline {
    z-index: -1;
    box-sizing: border-box;
    padding-top: 2em;
    transition: all 0.3s ease-in-out;
}
#timeline img {
    position: relative;
    top: 10px;
    width: calc(50vw - 10ch - 10px);
    margin-right: 0.8em;
    max-width: 432px;
    transition: width 0.3s ease-in-out;
}
#timeline.openNav img {
    position: relative;
    top: 10px;
    width: calc(35vw - 10ch - 10px);
    margin-right: 0.8em;
    max-width: 432px;
}
#timeline .TimelinePart1 h3 {
    position: absolute;
    top: 45.5vh;
    right: 22px;
    font-size: 1em;
}
#timeline .TimelinePart2 h3 {
    position: absolute;
    top: 130.5vh;
    right: 22px;
    font-size: 1em;
}
#timeline .TimelinePart3 h3 {
    position: absolute;
    top: 215.5vh;
    right: 22px;
    font-size: 1em;
}
#timeline .TimelinePart4 h3 {
    position: absolute;
    top: 300.5vh;
    right: 22px;
    font-size: 1em;
}
#timeline .TimelinePart5 h3 {
    position: absolute;
    top: 385.5vh;
    right: 22px;
    font-size: 1em;
}
#timeline.pt1 {
    top: 15vh;
}
#timeline.pt2 {
    top: -70vh;
}
#timeline.pt3 {
    top: -155vh;
}
#timeline.pt4 {
    top: -240vh;
}
#timeline.pt5 {
    top: -325vh;
}
#timeline h2 {
    position: fixed;
    left: inherit;
    top: 15vh;
}
#timeline p {
    position: relative;
    top: 10px;
    width: calc(100vw - 20px - 15ch);
    transition: width 0.3s ease-in-out;
}
#timeline.openNav p {
    width: calc(100vw - 30vmin - 20px - 20ch);
}
#timeline.openNav {
    width: calc(100vw - 30vmin);
}
.TimelinePart1 .timelineDown {
    position: absolute;
    top: calc(85vh - 20px);
}
.TimelinePart2 .timelineUp {
    position: absolute;
    top: calc(85vh + 20px);
}
.TimelinePart2 .timelineDown {
    position: absolute;
    top: calc(170vh - 20px);
}
.TimelinePart3 .timelineUp {
    position: absolute;
    top: calc(170vh + 20px);
}
.TimelinePart3 .timelineDown {
    position: absolute;
    top: calc(255vh - 20px);
}
.TimelinePart4 .timelineUp {
    position: absolute;
    top: calc(255vh + 20px);
}
.TimelinePart4 .timelineDown {
    position: absolute;
    top: calc(340vh - 20px);
}
.TimelinePart5 .timelineUp {
    position: absolute;
    top: calc(340vh + 20px);
}
.timelineArrow {
    transition: left 0.3s ease-in-out;
    left: calc(50vw - 5px);
    cursor: pointer;
}
.timelineArrow polygon:hover {
    fill: #8080ff;
    stroke: #4040ff;
}
.timelineArrow polygon:active {
    fill: #6060ff;
    stroke: #2020ff;
}
.openNav .timelineArrow {
    left: calc(50vw - 15vmin - 5px);
}
#open-nav:hover line {
    stroke: #404040;
}
#open-nav:active line {
    stroke: #000000;
}
#close-nav:hover line {
    stroke: #404040;
}
#close-nav:active line {
    stroke: #000000;
}
@media (max-width: 768px) { 
    .table div:not(.tableHead):nth-child(4n-2) {
        font-size: 0.75em;
        height: 4em;
    }
}
@media (min-width: 1024px) {
    main > div.container {
        grid-template-columns: 1fr 1fr;
    }
    #comparison {
        grid-column-end: 3;
    }
    #charts {
        grid-template-columns: 1fr 1fr;
    }
    #timeline.navOpen {
        left: calc(42.5vw - 5px);
    }
}
